
/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

body {
  background: #fff;
  color: #444;
  font-family: '29LTBukra-Regular';
}

a {
  color: #1bb1dc;
  transition: 0.5s;
}

a:hover,
a:active,
a:focus {
  color: #0a98c0;
  outline: none;
  text-decoration: none;
}

p {
  padding: 0;
  margin: 0 0 30px 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: '29LTBukra-Bold';
  margin: 0 0 20px 0;
  padding: 0;
}

/* Buttons */
.btn-yellow{
    color: #493834;
    background-color: #fdbf00;
    border-color: #fdbf00;
    padding: .575rem .7rem;
    font-size: 14px;
    font-family: '29LTBukra-Bold';
    border-radius: 7px;
}
.btn-dark{
    color: #fdbf00;
    background-color: #493834;
    border-color: #493834;
    padding: .375rem 1.3rem;
    font-size: 16px;
    font-family: '29LTBukra-Bold';
    text-transform: uppercase;
}
/* Buttons */

/* Back to top button */

.back-to-top {
  position: fixed;
  display: none !important; /* changed from :- display: none; */
  background: #fdbf00;
  color: #fff;
  width: 44px;
  height: 44px;
  text-align: center;
  line-height: 1;
  font-size: 16px;
  border-radius: 50%;
  right: 15px;
  bottom: 15px;
  transition: background 0.5s;
  z-index: 11;
}

.back-to-top i {
  padding-top: 12px;
  color: #fff;
}

.h-100-vh{
    height: 100vh;
}
.text-dark{
    color: #53433f;
}
.text-yellow{
    color: #fdbf00;
}
.w-80{
    width: 80%;
}
.vh-40{
    height: 40vh;
}

/* Prelaoder */

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #f2f2f2;
  border-top: 6px solid #1bb1dc;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*--------------------------------------------------------------
# Top Bar
--------------------------------------------------------------*/

#topbar {
  padding: 0 0 10px 0;
  font-size: 14px;
  transition: all 0.5s;
}

#topbar .social-links {
  text-align: right;
}

#topbar .social-links a {
  color: #535074;
  padding: 4px 12px;
  display: inline-block;
  line-height: 1px;
}

#topbar .social-links a:hover {
  color: #1bb1dc;
}

#topbar .social-links a:first-child {
  border-left: 0;
}

/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/

#header {
  height: 110px;
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  padding: 20px 0;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  transition: all 0.5s;
  z-index: 997;
}

#header.header-scrolled,
#header.header-pages {
  height: 70px;
  padding: 15px 0;
  background-color: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.3);
}

#header.header-scrolled #topbar,
#header.header-pages #topbar {
  display: none;
}

#header .logo h1 {
  font-size: 36px;
  margin: 0;
  padding: 0;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#header .logo h1 a,
#header .logo h1 a:hover {
  color: #413e66;
  text-decoration: none;
}

#header .logo img {
  padding: 0;
  margin: 7px 0;
  max-height: 26px;
}

.main-pages {
  margin-top: 60px;
}

.inner-pages .main-nav a {
    display: block;
    position: relative;
    color: #53433f;
    padding: 10px 15px;
    transition: 0.3s;
    font-size: 14px;
    font-family: '29LTBukra-Regular';
    /* text-transform: uppercase; */
    /* font-weight: 600; */
}

/* Search */

.searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 41px;
/*    background-color: #353b48;*/
    border-radius: 30px;
    padding: 5px 0px 8px;
    margin-right: 3px;
}

.search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 30px;
    transition: width 0.4s linear;
}

.searchbar:hover > .search_input, .searchbar:focus > .search_input{
    padding: 0 10px;
    width: 200px;
    caret-color: white;
    transition: width 0.4s linear;
}

.searchbar:hover > .search_icon, .searchbar:focus > .search_icon{
/*    background: white;*/
    color: #fff;
}

.search_icon{
    height: 30px;
    width: 30px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #fdc800;
    text-decoration:none;
}

/* Search Ends */

.header-user, .header-wishlist{
    color: #fdc800;
    margin: 0 8px;
}
.header-user:hover, .header-wishlist:hover{
    color: #fff;
}
.header-user i, .header-wishlist i{
    font-weight: 600;
}

/* Wishlist */
#header .control-group {
    margin: 0 8px;
}
.red-heart-checkbox {
  position: absolute;
    opacity: 0;
    cursor: pointer;
}
.red-heart-checkbox + label {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
/*
  font-size: 30px;
  padding-left: 15px;
*/
  transition: all 0.2s;
    position: relative;
    width: 25px;
    height: 25px;
    margin: 0;
}
.red-heart-checkbox:checked + label:before {
  content: '\f004';
  color: #fff;
}
.red-heart-checkbox + label:before {
  width: 25px;
  height: 25px;
  content: '\f08a';
  position: absolute;
/*
  margin-left: -48px;
  margin-top: 3px;
*/
  font-family: FontAwesome;
  font-size: 22px;
  transition: all 0.3s;
  color: #fdc800;
    top: 0;
    left: 0;
}
.red-heart-checkbox + label:hover:before {
  transform: scale(1.2);
}

/* Wishlist Ends */

/* Shopping cart */
#header .header-cart{
    color: #fdc800;
    margin: 0 8px;
}
#header .header-cart:hover{
    color: #fff;
}
.lblCartCount {
    font-size: 10px;
    background: #fff;
    color: #dd0101;
    padding: 0 5px;
/*    vertical-align: top;*/
    margin-left: -10px;
    font-family: sans-serif;
}
.badge {
/*
  padding-left: 9px;
  padding-right: 9px;
*/
    padding: 2px 4px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}

/*
.label-warning[href],
.badge-warning[href] {
  background-color: #c67605;
}
*/

/* Shopping cart ends */

/* Hamburger menu */

.header-ham-menu{
    width: 28px;
    height: 15px;
    margin-left: 30px;
}
.header-ham-menu #menuToggle
{
  display: block;
  position: absolute;
/*
  top: 50px;
  right: 50px;
*/
  
  z-index: 1;
  
  -webkit-user-select: none;
  user-select: none;
}

.header-ham-menu #menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
.header-ham-menu #menuToggle span
{
  display: block;
  width: 28px;
  height: 2px;
  margin-bottom: 4px;
  position: relative;
  
  background: #fdc800;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

.header-ham-menu #menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

.header-ham-menu #menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
.header-ham-menu #menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(49deg) translate(-3px, -2px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
.header-ham-menu #menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
.header-ham-menu #menuToggle input:checked ~ span:nth-last-child(2)
{
  opacity: 1;
  transform: rotate(-52deg) translate(-1px, 2px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
.header-ham-menu #menu
{
  position: absolute;
  width: 350px;
    height: 100vh;
  margin: -53px 0 0 0;
/*  padding: 50px;*/
    padding-left: 30px;
  padding-top: 125px;
  right: -100px;
  
  background: #fff;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
    border-bottom-left-radius: 100px;
}

.header-ham-menu #menu li
{
  padding: 3px 0;
    list-style-type: none;
}
.header-ham-menu #menu li a
{
  font-size: 18px;
    font-family: '29LTBukra-Light';
    color: #53433f;
}
.header-ham-menu #menu li a:hover
{
    color: #fdbf00;
}

/*
 * And let's fade it in from the left
 */
.header-ham-menu #menuToggle input:checked ~ #menu
{
  transform: scale(1.0, 1.0);
  opacity: 1;
}


/** Custom Select **/
.currency-title{
    font-size: 14px;
    font-family: '29LTBukra-Bold';
    color: #fdbf00;
}
.header-ham-menu .box{
    position: relative;
}
.header-ham-menu .box select {
/*  background-color: #0563af;*/
  color: #53433f;
/*  padding: 12px;*/
/*  width: 250px;*/
  border: none;
  font-size: 14px;
/*  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);*/
  -webkit-appearance: button;
  appearance: button;
  outline: none;
    font-family: '29LTBukra-Bold';
}

.header-ham-menu .box::before {
  content: "\f107";
  font-family: FontAwesome;
  position: absolute;
  top: -4px;
  right: 2px;
/*
  width: 20%;
  height: 100%;
*/
  text-align: center;
  font-size: 19px;
  line-height: 30px;
  color: #fdbf00;
  background-color: rgba(255, 255, 255, 0.1);
  pointer-events: none;
    font-weight: bold;
}

.header-ham-menu .box:hover::before {
  color: #fdbf00;
  background-color: rgba(255, 255, 255, 0.2);
}

.header-ham-menu .box select option {
  padding: 30px;
}

.header-ham-menu #menu .lang-section li a{
    font-size: 14px;
}
.header-social-links a{
    color: #493834;
    font-size: 24px;
}
.header-social-links a:hover{
    color: #fdbf00;
}
/* Hamburger menu ends */



/*--------------------------------------------------------------
# Intro Section
--------------------------------------------------------------*/

#intro {
  width: 100%;
  height: 100vh;
  position: relative;
  background: #f5f8fd url("../img/intro-bg.png") center top no-repeat;
  background-size: 100%;
}

#intro .intro-info .title {
  color: #fff;
  margin-bottom: 40px;
  font-size: 48px;
  font-family: '29LTBukra-BoldItalic';
}

#intro .intro-info .title span {
    color: #fff;
    font-size: 20px;
    font-family: '29LTBukra-Light';
}

/*
#intro .intro-info .btn-get-started,
#intro .intro-info .btn-services {
  font-family: "Montserrat", sans-serif;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: inline-block;
  padding: 10px 32px;
  border-radius: 4px;
  transition: 0.5s;
  color: #fff;
  background: #37e6f8;
  color: #fff;
}

#intro .intro-info .btn-get-started:hover,
#intro .intro-info .btn-services:hover {
  background: #0a98c0;
}
*/
.app-link a {
    width: 135px;
}

/*--------------------------------------------------------------
# Navigation Menu
--------------------------------------------------------------*/

/* Desktop Navigation */

.main-nav {
  /* Drop Down */
  /* Deep Drop Down */
}

.main-nav,
.main-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.main-nav > ul > li {
  position: relative;
  white-space: nowrap;
  float: left;
}

.main-nav a {
  display: block;
  position: relative;
  color: #fff;
  padding: 10px 15px;
  transition: 0.3s;
  font-size: 14px;
  font-family: '29LTBukra-Regular';
/*  text-transform: uppercase;*/
/*  font-weight: 600;*/
}
.header-scrolled .main-nav a {
  display: block;
  position: relative;
  color: #fdbf00;
  padding: 10px 15px;
  transition: 0.3s;
  font-size: 14px;
  font-family: '29LTBukra-Regular';
/*  text-transform: uppercase;*/
/*  font-weight: 600;*/
}

.main-nav a:hover,
.main-nav .active > a,
.main-nav li:hover > a {
  color: #37e6f8;
  text-decoration: none;
}

.main-nav .drop-down ul {
  display: block;
  position: absolute;
  left: 0;
  top: calc(100% - 30px);
  z-index: 99;
  opacity: 0;
  visibility: hidden;
  padding: 10px 0;
  background: #fff;
  box-shadow: 0px 0px 30px rgba(127, 137, 161, 0.25);
  transition: ease all 0.3s;
}

.main-nav .drop-down:hover > ul {
  opacity: 1;
  top: 100%;
  visibility: visible;
}

.main-nav .drop-down li {
  min-width: 180px;
  position: relative;
}

.main-nav .drop-down ul a {
  padding: 10px 20px;
  font-size: 14px;
  font-weight: 500;
  text-transform: none;
  color: #065e77;
}

.main-nav .drop-down ul a:hover,
.main-nav .drop-down ul .active > a,
.main-nav .drop-down ul li:hover > a {
  color: #1bb1dc;
}

.main-nav .drop-down > a:after {
  content: "\f107";
  font-family: FontAwesome;
  padding-left: 10px;
}

.main-nav .drop-down .drop-down ul {
  top: 0;
  left: calc(100% - 30px);
}

.main-nav .drop-down .drop-down:hover > ul {
  opacity: 1;
  top: 0;
  left: 100%;
}

.main-nav .drop-down .drop-down > a {
  padding-right: 35px;
}

.main-nav .drop-down .drop-down > a:after {
  content: "\f105";
  position: absolute;
  right: 15px;
}

/* Mobile Navigation */

.mobile-nav {
  position: fixed;
  top: 0;
  bottom: 0;
  z-index: 9999;
  overflow-y: auto;
  left: -260px;
  width: 260px;
  padding-top: 18px;
  background: rgba(40, 38, 70, 0.8);
  transition: 0.4s;
}

.mobile-nav * {
  margin: 0;
  padding: 0;
  list-style: none;
}

.mobile-nav a {
  display: block;
  position: relative;
  color: #fff;
  padding: 10px 20px;
  font-weight: 500;
}

.mobile-nav a:hover,
.mobile-nav .active > a,
.mobile-nav li:hover > a {
  color: #8dc2fa;
  text-decoration: none;
}

.mobile-nav .drop-down > a:after {
  content: "\f078";
  font-family: FontAwesome;
  padding-left: 10px;
  position: absolute;
  right: 15px;
}

.mobile-nav .active.drop-down > a:after {
  content: "\f077";
}

.mobile-nav .drop-down > a {
  padding-right: 35px;
}

.mobile-nav .drop-down ul {
  display: none;
  overflow: hidden;
}

.mobile-nav .drop-down li {
  padding-left: 20px;
}

.mobile-nav-toggle {
  position: fixed;
  right: 0;
  top: 0;
  z-index: 9998;
  border: 0;
  background: none;
  font-size: 24px;
  transition: all 0.4s;
  outline: none !important;
  line-height: 1;
  cursor: pointer;
  text-align: right;
}

.mobile-nav-toggle i {
  margin: 18px 18px 0 0;
  color: #065e77;
}

.mobile-nav-overly {
  width: 100%;
  height: 100%;
  z-index: 9997;
  top: 0;
  left: 0;
  position: fixed;
  background: rgba(40, 38, 70, 0.8);
  overflow: hidden;
  display: none;
}

.mobile-nav-active {
  overflow: hidden;
}

.mobile-nav-active .mobile-nav {
  left: 0;
}

.mobile-nav-active .mobile-nav-toggle i {
  color: #fff;
}

/*--------------------------------------------------------------
# Sections
--------------------------------------------------------------*/

/* Sections Header
--------------------------------*/

.section-header h3 {
  font-size: 60px;
  color: #413e66;
  text-align: center;
/*  font-weight: 700;*/
  position: relative;
  font-family: '29LTBukra-Bold';
}

.section-header p {
  text-align: center;
  margin: auto;
  font-size: 15px;
  padding-bottom: 60px;
  color: #535074;
  width: 50%;
}

/* Section with background
--------------------------------*/

.section-bg {
  background: #f5f8fd;
}


/* Campaign Filter */

.home-campaigns .button {
  display: inline-block;
  padding: 0.5em 1.0em;
  border-radius: 4px;
  background: #ffffff;
  font-family: '29LTBukra-Regular';
  font-size: 16px;
  cursor: pointer;
  border: 0;
  margin: 10px;
  -webkit-transition: background 0.3s;
  -moz-transition: background 0.3s;
  transition: background 0.3s;
}

.home-campaigns .button:hover {
/*  background-color: #fdbf00;*/
    color: #fdbf00;
}

.home-campaigns .button:active,
.home-campaigns .button.is-checked {
/*  background-color: #fdbf00;*/
    color: #fdbf00;
  outline: none;
    font-family: '29LTBukra-Bold';
}

.home-campaigns .button-group {
  margin: 20px 0;
  text-align: center;
}

.home-campaigns .button-group:after {
  content: '';
  display: block;
  clear: both;
}

.home-campaigns img {
  vertical-align: middle;
}

.home-campaigns .img-responsive {
  display: block;
  max-width: 100%;
  height: auto;
}

.home-campaigns .grid article {
  background-color: #FFFFFF;
  display: block;
  float: left;
  margin: 1%;
  width: 23%;
}

.home-campaign-ticket-yellow{
    background-image: url(../img/campaign-yellow-bg-1.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 25px 0 8rem;
    position: relative;
}
.home-campaign-ticket-dark{
    background-image: url(../img/campaign-dark-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    padding: 25px 0 8rem;
    position: relative;
}
.home-campaign-ticket-yellow .card-body,
.home-campaign-ticket-dark .card-body{
    padding: 0 1.25rem;
    color: #fff;
}
.campaign-product-img{
    width: 180px;
    height: 220px;
    margin: auto;
}
.home-campaign-ticket-yellow .card-body .cart-increment,
.home-campaign-ticket-dark .card-body .cart-increment{
    width: 40%;
/*    margin: auto;*/
    float: right;
    border: 1px solid #53433f;
    border-radius: 12px;
}
.home-campaign-ticket-yellow .card-body .cart-increment .btn-number,
.home-campaign-ticket-dark .card-body .cart-increment .btn-number{
    color: #fff;
    font-size: .8rem;
    line-height: 1;
    padding: .375rem .45rem;
}
.home-campaign-ticket-yellow .card-body .cart-increment .input-number,
.home-campaign-ticket-dark .card-body .cart-increment .input-number{
    width: 33px;
    padding: 0;
    text-align: center;
    background: transparent;
    border: 0;
    font-family: '29LTBukra-BoldItalic';
}
.home-campaign-ticket-yellow .card-body h6.card-title,
.home-campaign-ticket-dark .card-body h6.card-title{
    font-family: '29LTBukra-Light';
    font-size: 23px;
}
.home-campaign-ticket-yellow .card-body .card-title,
.home-campaign-ticket-dark .card-body .card-title{
    margin-bottom: .5rem;
}
.home-campaign-ticket-yellow .btn-dark{
    color: #fdbf00;
    background-color: #493834;
    border-color: #493834;
/*    width: 188px;*/
    padding: .375rem 1.3rem;
    font-size: 14px;
    font-family: '29LTBukra-BoldItalic';
}
.home-campaign-ticket-yellow .card-text,
.home-campaign-ticket-dark .card-text{
    font-size: 12px;
    margin-bottom: 10px;
    font-family: '29LTBukra-Regular';
}
.campaign-prize-img {
    width: 275px;
     height: 220px; 
    margin: auto;
}
.wish-share {
    width: 8%;
    position: absolute;
    right: .2rem;
    top: -3.2rem;
}
.wish-share .red-heart-checkbox + label:before{
    color: #fff;
    font-size: 20px;
}
.wish-share .red-heart-checkbox:checked + label:before{
    color: #fff;
}
.home-progress-bar{
/*
    position: absolute;
    bottom: 2.2%;
    width: 98%;
    left: 0;
    right: 0;
    margin: auto;
*/
    width: 98%;
    position: relative;
    margin: auto;
}
.progress-bar-red {
  height: 6px;
  background: #ed1c24;
  margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -33px;
}
.progress-bar-green {
  height: 6px;
  background: #39b54a;
  margin: auto;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -34px;
}
.sold-count{
    text-align: center;
    padding-bottom: 10px;
    position: absolute;
    top: -46px;
    margin: auto;
    left: 0;
    right: 0;
    width: 300px;
}
.sold-count .count {
/*
  position: absolute;
  top: 50%;
*/
  width: 100%;
  text-align: center;
  font-weight: 100;
  font-size: 3rem;
  margin: 0;
  color: #53433f;
}

.out-of-count{
    text-align: center;
    padding-top: 10px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -115px;
}
.out-of-count .count {
/*
  position: absolute;
  bottom: 50%;
*/
  width: 100%;
  text-align: center;
  font-weight: 100;
  font-size: 3rem;
  margin: 0;
  color: #53433f;
}
.sold-count p, .out-of-count p{
    font-size: 10px;
}
.home-product-price{
    position: absolute;
/*    width: 284px;*/
    background: #ffffff;
    color: #53433f;
    left: 0%;
    bottom: 18.4%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .35rem 1.35rem;
    border-radius: 0 25px 25px 0;
}
.home-product-note{
    position: absolute;
    bottom: 8%;
    padding-left: 12px;
}
.home-product-note p{
    color: #53433f;
}
.home-campaign-ticket-dark .btn-yellow{
    color: #493834;
    background-color: #fdbf00;
    border-color: #fdbf00;
/*    width: 188px;*/
    padding: .375rem 1.3rem;
    font-size: 14px;
    font-family: '29LTBukra-BoldItalic';
}

/* Portfolio Section
--------------------------------*/

#portfolio {
  padding: 60px 0;
}

#portfolio #portfolio-flters {
  padding: 0;
  margin: 5px 0 35px 0;
  list-style: none;
  text-align: right;
}

#portfolio #portfolio-flters li {
  cursor: pointer;
  margin: 15px 15px 15px 0;
  display: inline-block;
  padding: 6px 10px;
  font-size: 16px;
  line-height: 20px;
  color: #413e66;
  margin-bottom: 5px;
  transition: all 0.3s ease-in-out;
}
#portfolio #portfolio-flters li:first-child{
    float: left;
}

#portfolio #portfolio-flters li:hover,
#portfolio #portfolio-flters li.filter-active {
  color: #1bb1dc;
}

#portfolio #portfolio-flters li:last-child {
  margin-right: 0;
}

#portfolio .portfolio-item {
  position: relative;
  overflow: hidden;
  margin-bottom: 30px;
}

#portfolio .portfolio-item .portfolio-wrap {
  overflow: hidden;
  position: relative;
  margin: 0;
}

#portfolio .portfolio-item .portfolio-wrap:hover img {
  opacity: 0.4;
  transition: 0.3s;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  text-align: center;
  opacity: 0;
  transition: 0.2s linear;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info h4 {
  font-size: 22px;
  line-height: 1px;
  font-weight: 700;
  margin-bottom: 14px;
  padding-bottom: 0;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info h4 a {
  color: #fff;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info h4 a:hover {
  color: #1bb1dc;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info p {
  padding: 0;
  margin: 0;
  color: #f8fcff;
  font-weight: 500;
  font-size: 14px;
  text-transform: uppercase;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-preview,
#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-details {
  display: inline-block;
  line-height: 1;
  text-align: center;
  width: 36px;
  height: 36px;
  background: #1bb1dc;
  border-radius: 50%;
  margin: 10px 4px 0 4px;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-preview i,
#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-details i {
  padding-top: 6px;
  font-size: 22px;
  color: #fff;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-preview:hover,
#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-details:hover {
  background: #42c3e8;
}

#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-preview:hover i,
#portfolio .portfolio-item .portfolio-wrap .portfolio-info .link-details:hover i {
  color: #fff;
}

#portfolio .portfolio-item .portfolio-wrap:hover {
  background: #282646;
}

#portfolio .portfolio-item .portfolio-wrap:hover .portfolio-info {
  opacity: 1;
}


/* Home Products */

.home-product-section{
    background-image: url(../img/home-products-bg.png);
    background-repeat: no-repeat;
    background-size: contain;
    margin-top: 100px;
}
.hp-title{
    font-family: '29LTBukra-Regular';
    font-size: 30px;
}
.home-products-carousel .owl-stage{
    padding-left: 0 !important;
}
/*
.container .title{
  color: #1a1a1a;
  text-align: center;
  margin-bottom: 10px;
}
*/

.content {
  position: relative;
  width: 90%;
  max-width: 400px;
  margin: auto;
  overflow: hidden;
}

.content .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
    border-radius: 10px;
}

.content:hover .content-overlay{
  opacity: 1;
}

.content-image{
  width: 100%;
}

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3{
    color: #fff;
    font-weight: 500;
    letter-spacing: 0.15em;
    margin-bottom: 0.5em;
    text-transform: uppercase;
    font-family: '29LTBukra-Bold';
    font-size: 18px;
}

.content-details p{
  color: #fff;
  font-size: 0.8em;
}

.fadeIn-bottom{
  top: 80%;
}

.fadeIn-top{
  top: 20%;
}

.fadeIn-left{
  left: 20%;
}

.fadeIn-right{
  left: 80%;
}

.home-products-carousel.owl-theme .owl-nav {
    display: flex;
    justify-content: space-between;
}
.home-products-carousel.owl-theme .owl-nav .owl-prev,
.home-products-carousel.owl-theme .owl-nav .owl-next{
    font-size: 24px;
    font-family: '29LTBukra-BoldItalic';
}
.home-products-carousel.owl-theme .owl-nav .owl-next{
    margin-right: 20px;
}
.home-products-carousel.owl-theme .owl-nav [class*=owl-]:hover {
    background: none;
    color: #FFF;
    text-decoration: none;
}
.home-products-carousel .pr-see-more {
    font-family: '29LTBukra-Light';
}
.home-products-carousel .pr-see-more span img {
    width: 20px;
    display: inline-block;
}


/* Home Get in Touch */

/*---------------------------------------------*/
input {
	outline: none;
	border: none;
}

textarea {
  outline: none;
  border: none;
}

textarea:focus, input:focus {
  border-color: transparent !important;
}

input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

textarea:focus::-webkit-input-placeholder { color:transparent; }
textarea:focus:-moz-placeholder { color:transparent; }
textarea:focus::-moz-placeholder { color:transparent; }
textarea:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #999999; }
input:-moz-placeholder { color: #999999; }
input::-moz-placeholder { color: #999999; }
input:-ms-input-placeholder { color: #999999; }

textarea::-webkit-input-placeholder { color: #999999; }
textarea:-moz-placeholder { color: #999999; }
textarea::-moz-placeholder { color: #999999; }
textarea:-ms-input-placeholder { color: #999999; }

/*---------------------------------------------*/
button {
	outline: none !important;
	border: none;
	background: none;
}

button:hover {
	cursor: pointer;
}

iframe {
	border: none !important;
}

/*//////////////////////////////////////////////////////////////////
[ Contact 2 ]*/
.bg-contact2 {
  width: 100%;  
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.container-contact2 {
  width: 100%;  
/*  min-height: 100vh;*/
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.wrap-contact2 {
  width: 790px;
/*  background: #fff;*/
  border-radius: 10px;
  overflow: hidden;
  padding: 72px 55px 90px 55px;
    margin-right: 60px;
}


/*------------------------------------------------------------------
[  ]*/

.contact2-form {
  width: 100%;
}

.contact2-form-title {
  display: block;
  font-family: Poppins-Bold;
  font-size: 39px;
  color: #333333;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 90px;
}



/*------------------------------------------------------------------
[  ]*/

.wrap-input2 {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #fff;
  margin-bottom: 5px;
}

.input2 {
  display: block;
  width: 100%;
    background: transparent;
  font-family: Poppins-Regular;
  font-size: 15px;
  color: #555555;
  line-height: 1.2;
}

.focus-input2 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input2::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;

  background: rgba(83,67,63,1);
  background: -webkit-linear-gradient(45deg, #53433f, #977427);
  background: -o-linear-gradient(45deg, #53433f, #977427);
  background: -moz-linear-gradient(45deg, #53433f, #977427);
  background: linear-gradient(45deg, #53433f, #977427);
}

.focus-input2::after {
  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0;

  font-family: '29LTBukra-BoldItalic';
  font-size: 13px;
  color: #fff;
  line-height: 1.2;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

/*---------------------------------------------*/
input.input2 {
  height: 45px;
}

input.input2 + .focus-input2::after {
  top: 16px;
  left: 0;
}

textarea.input2 {
/*
  min-height: 115px;
  padding-top: 13px;
  padding-bottom: 13px;
*/
    resize: none;
}

textarea.input2 + .focus-input2::after {
  top: 16px;
  left: 0;
}

.input2:focus + .focus-input2::after {
  top: -13px;
}

.input2:focus + .focus-input2::before {
  width: 100%;
}

.has-val.input2 + .focus-input2::after {
  top: -13px;
}

.has-val.input2 + .focus-input2::before {
  width: 100%;
}

/*------------------------------------------------------------------
[ Button ]*/
.container-contact2-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  padding-top: 13px;
}

/*
.wrap-contact2-form-btn {
  display: block;
  position: relative;
  z-index: 1;
  border-radius: 2px;
  width: auto;
  overflow: hidden;
  margin: 0 auto;
}
*/

.contact2-form-btn {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 0 20px;
/*  min-width: 244px;*/
  height: 50px;


  font-family: '29LTBukra-BoldItalic';
  font-size: 16px;
  color: #53433f;
  line-height: 1.2;
  

}

.wrap-contact2-form-btn:hover .contact2-form-bgbtn {
  left: 0;
}

/*------------------------------------------------------------------
[ Responsive ]*/

@media (max-width: 576px) {
  .wrap-contact2 {
    padding: 72px 15px 90px 15px;
  }
}



/*------------------------------------------------------------------
[ Alert validate ]*/

.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: white;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0px;
  pointer-events: none;

  font-family: Poppins-Regular;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f12a";
  font-family: FontAwesome;
  display: block;
  position: absolute;
  color: #c80000;
  font-size: 16px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 8px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}

/* Home Get in Touch */

/* Home Products Ends */

/* Login Page */

.login-container{
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fdbf00;
}

.login-container form{
	padding-top: 10px;
	font-size: 14px;
	margin-top: 30px;
}

.login-container .card-title{ 
    text-transform: uppercase;
    font-family: '29LTBukra-BoldItalic';
}

.login-container .login-form{ 
	width: 510px;
/*    width: 40%;*/
	margin:20px;
    background: transparent;
    border: 0;
    position: relative;
}
.login-container .login-form input{ 
    background: transparent;
    border: 1px solid #fff;
    border-radius: 4px;
    height: auto;
    padding: 10px;
    font-family: '29LTBukra-Bold';
}
.login-container .login-form input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #53433f;
  opacity: .4; /* Firefox */
}

.login-container .login-form input:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #53433f;
    opacity: .4;
}

.login-container .login-form input::-ms-input-placeholder { /* Microsoft Edge */
  color: #53433f;
    opacity: .4;
}

.login-container .alert{
	margin-bottom:-30px;
	font-size: 13px;
	margin-top:20px;
}
/* Hide the browser's default checkbox */
.login-container .checkbox {
    position: relative;
    cursor: pointer;
    padding-left: 30px;
    margin: 0;
    font-size: 14px;
    line-height: 1.2;
    color: #fff;
    font-family: '29LTBukra-Regular';
}
.login-container .checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}


/* Create a custom checkbox */
.login-container .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: transparent;
    border: 1px solid #53433f;
}

/* On mouse-over, add a grey background color */
.login-container .checkbox:hover input ~ .checkmark {
  background-color: transparent;
}

/* When the checkbox is checked, add a blue background */
.login-container .checkbox input:checked ~ .checkmark {
  background-color: transparent;
    border: 1px solid #53433f;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.login-container .checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.login-container .checkbox   .checkmark:after {
  left: 6px;
  top: -7px;
  width: 9px;
  height: 17px;
  border: solid white;
  border-width: 0 4px 4px 0;
  -webkit-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  transform: rotate(40deg);
}
.login-forgot{
    font-size: 14px;
    line-height: 1.2;
    color: #fff;
    font-family: '29LTBukra-Regular';
}
.login-with-text{
    font-size: 16px;
    color: #fff;
    font-family: '29LTBukra-Bold';
    text-align: center;
}
.login-container .btn{
	font-size: 14px;
	margin-top:20px;
    color: #fff;
    background: #53433f;
    border-color: #53433f;
    font-family: '29LTBukra-Bold';
}
.login-container .login-with .btn{
	font-size: 14px;
	margin-top:20px;
    color: #fff;
    background: #53433f;
    border-color: #53433f;
    font-family: '29LTBukra-Bold';
}
.login-container .sign-up {
    text-align: center;
    /* padding: 20px 0 0; */
    position: absolute;
    right: -200px;
}
.login-container .sign-up a{
    font-family: '29LTBukra-Bold';
    color: #53433f;
    font-size: 14px;
}

/* Login Page */

/* Register Page*/
.login-container .register-btn {
    margin: 0;
    padding: 0.64rem .75rem;
}
.register-with-text {
    font-size: 16px;
    color: #fff;
    font-family: '29LTBukra-Bold';
    position: relative;
}
.register-with-text::after {
    content: '';
    width: 90%;
    height: 2px;
    background: #fff;
    position: absolute;
    margin-left: 15px;
    bottom: 5px;
}
.register-ipad-image{
    width: 90.4%;
}
.register-social-links {
    position: absolute;
    display: flex;
    bottom: 40px;
    right: 10px;
    width: 100px;
}
.register-social-links .social-links {
    position: absolute;
    bottom: 0;
    z-index: 1;
}
.register-social-links .social-links a {
  font-size: 30px;
  display: inline-block;
/*  background: #1bb1dc;*/
  color: rgba(83,67,63,.3);
  line-height: 1;
  padding: 8px 0;
  margin-bottom: 7px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

.register-social-links .social-links a:hover {
/*  background: #0a98c0;*/
  color: #fff;
}
.register-social-links .social-media {
    position: absolute;
    right: -15%;
    bottom: 77px;
}
.register-social-links .social-media .title{
    position: relative;
    transform: rotate(-90deg);
    color: rgba(83,67,63,.3);
    font-size: 14px;
    font-family: '29LTBukra-BoldItalic';
    text-transform: uppercase;
}
.register-social-links .social-media .title::after{
    content: '';
    width: 35px;
    height: 2px;
    position: absolute;
    background-color: rgba(83,67,63,.3);
    top: 42%;
    right: 125px;
}
.register-bottom-links{
    position: absolute;
    bottom: -62px;
    width: 55%;
    left: 83px;
    right: 0;
}
.register-bottom-links a{
    font-family: '29LTBukra-Regular';
    color: #53433f;
    font-size: 12px;
}
/* Register Page */

/* Cart */

.inner-page-section{
    background: #f1f1f1;
    padding: 160px 0;
}
.cart-campaign-ticket{
    background-image: url(../img/cart-list-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: top;
    padding: 35px 0 1rem;
    position: relative;
}
.cart-campaign-ticket .card-body{
    padding: 0 1.25rem;
    color: #fff;
}
.cart-campaign-ticket .card-body h6{
    font-family: '29LTBukra-Light';
    font-size: 12px;
    color: #53433f;
}
.cart-campaign-product-img{
    width: 140px;
    height: 165px;
    position: relative;
    z-index: 1;
/*    margin: auto;*/
}
.cart-campaign-ticket .cart-increment{
    width: 100%;
/*    margin: auto;*/
    float: right;
    border: 1px solid #fdbf00;
    border-radius: 12px;
    background-color: #fdbf00;
}
.cart-campaign-ticket .cart-increment .btn-number{
    color: #53433f;
    font-size: 1.1rem;
    line-height: 1;
    padding: .375rem .45rem;
    font-family: '29LTBukra-Regular';
}
.cart-campaign-ticket .cart-increment .btn-number.minus{
    padding: 0 .45rem .375rem;
    font-size: 1.5rem;
    font-family: '29LTBukra-Regular';
}
.cart-campaign-ticket .cart-increment .input-number{
    width: 33px;
    padding: 0;
    text-align: center;
    background: transparent;
    border: 0;
    font-family: '29LTBukra-BoldItalic';
    color: #fff;
}
.cart-campaign-ticket .card-body h6.card-title{
    font-family: '29LTBukra-Light';
    font-size: 19px;
    color: #fdbf00;
}
.cart-campaign-ticket .card-body .card-title{
    margin-bottom: .5rem;
}
.cart-campaign-ticket .btn-dark{
    color: #fdbf00;
    background-color: #493834;
    border-color: #493834;
/*    width: 188px;*/
    padding: .375rem 1.3rem;
    font-size: 14px;
    font-family: '29LTBukra-BoldItalic';
}
.cart-campaign-ticket .card-text{
    font-size: 12px;
    margin-bottom: 10px;
    font-family: '29LTBukra-Regular';
}
.cart-campaign-ticket .campaign-prize-img {
    width: 275px;
     height: 220px; 
    margin: auto;
}
.cart-campaign-ticket .wish-share {
    width: 8%;
    position: absolute;
    right: .2rem;
    top: -3.2rem;
}
.cart-campaign-ticket .wish-share .red-heart-checkbox + label:before{
    color: #fff;
    font-size: 20px;
}
.cart-campaign-ticket .wish-share .red-heart-checkbox:checked + label:before{
    color: #fff;
}

.cart-campaign-ticket .cart-product-price{
/*    position: absolute;*/
/*    width: 175px;*/
/*    background: #ededed;*/
    color: #53433f;
/*
    left: -30%;
    top: -30%;
*/
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: start;
/*    padding: .45rem .35rem .25rem 1.35rem;*/
/*    border-radius: 0 25px 25px 0;*/
    position: relative;
    z-index: 0;
}
.cart-campaign-ticket .cart-product-price h6{
    font-family: '29LTBukra-BoldItalic';
    font-size: .9rem;
}
.cart-campaign-ticket .cart-product-price h6::before{
    content:'';
    position: absolute;
    width: 175px;
    height: 40px;
    background: #ededed;
    border-radius: 0 25px 25px 0;
    top: 3px;
    left: -45px;
    z-index: -1;
}
.cart-campaign-ticket .cart-product-prize{
    color: #53433f;
    text-align: left;
    display: flex;
    align-items: center;
    justify-content: start;
    position: relative;
    z-index: 0;
    margin-bottom: 5px;
}
.cart-campaign-ticket .cart-product-prize h6{
    font-family: '29LTBukra-Bold';
    font-size: .8rem;
}
.cart-campaign-ticket .cart-product-prize h6::before{
    content:'';
    position: absolute;
    width: 235px;
    height: 40px;
    background: #ededed;
    border-radius: 0 25px 25px 0;
    top: 3px;
    left: -45px;
    z-index: -1;
}
.cart-campaign-ticket .cart-product-prize h6 span{
    font-family: '29LTBukra-Light';
    font-size: .8rem;
}
.cart-campaign-ticket .home-product-note{
    position: inherit;
    bottom: 8%;
    padding-left: 12px;
}
.cart-campaign-ticket .home-product-note p{
    color: #53433f;
}
.cart-campaign-prize-img {
    width: 165px;
    height: 140px;
    position: relative;
    z-index: 1;
    /* margin: auto; */
}
.per-unit{
    font-family: '29LTBukra-Bold';
    font-size: .8rem;
    color: #fdbf00;
}
.per-unit span{
    font-family: '29LTBukra-Regular';
    font-size: .8rem;
    color: #53433f;
}
.cart-list-total{
    font-size: 20px;
    font-family: '29LTBukra-Bold';
    color: #fdbf00;
}
.cart-list-total span{
    font-size: 25px;
    font-family: '29LTBukra-Bold';
    color: #53433f;
}
.inner-right-sidebar{
    background-color: #fff;
    border-radius: 0 60px 0 0;
    padding: 32px 25px;
}
.right-sidebar-title{
    border-radius: 0 60px 0 0;
    background-color: #53433f;
    color: #fdbf00;
    font-family: '29LTBukra-Bold';
    font-size: 18px;
    text-transform: uppercase;
    text-align: center;
    padding: 12px 0;
}
.earn-points{
    border-top: 1px solid #f1f1f1;
    border-bottom: 1px solid #f1f1f1;
}
.earn-points p{
    font-size: 14px;
}
.earn-points p span{
    color: #53433f;
    font-family: '29LTBukra-Bold';
    font-size: 14px;
}
.custom-checkbox .checkbox {
    position: relative;
    cursor: pointer;
    padding-left: 30px;
    margin: 0;
    font-size: 13px;
    line-height: 1.3;
    color: #53433f;
    font-family: '29LTBukra-Bold';
}
.custom-checkbox .checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.custom-checkbox .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: transparent;
    border: 1px solid #53433f;
}

/* On mouse-over, add a grey background color */
.custom-checkbox .checkbox:hover input ~ .checkmark {
  background-color: transparent;
}

/* When the checkbox is checked, add a blue background */
.custom-checkbox .checkbox input:checked ~ .checkmark {
  background-color: transparent;
    border: 1px solid #53433f;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.custom-checkbox .checkbox input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.custom-checkbox .checkbox .checkmark:after {
  left: 6px;
  top: -7px;
  width: 9px;
  height: 17px;
  border: solid #fdbf00;
  border-width: 0 4px 4px 0;
  -webkit-transform: rotate(40deg);
  -ms-transform: rotate(40deg);
  transform: rotate(40deg);
}
.custom-checkbox small{
    font-size: 10px;
}

.payment-note small{
    font-size: 10px;
}
.get-in-touch{
    background-image: url(../img/inner-get-in-touch.png);
    background-repeat: no-repeat;
    background-size: contain;
/*    margin-top: 100px;*/
}
.get-in-touch .wrap-contact2 {
    width: 790px;
    /* background: #fff; */
    border-radius: 10px;
    overflow: hidden;
    padding: 23px 55px 19px 55px;
    margin-right: 60px;
}
.get-in-touch .wrap-contact2 .contact2-form-btn{
    color: #fdbf00;
    text-transform: uppercase;
}
.git-title{
    color: #fdbf00;
}
.pay-using-checkbox label.checkbox{
    font-family: '29LTBukra-Light';
}
.pay-using-checkbox label .cart-points{
    font-family: '29LTBukra-Bold';
}
.pay-using-checkbox.custom-checkbox .checkbox .checkmark:after {
    border-color: #41ad49;
}
/* Cart */

/* Profile */

.profile-menu{
    background-image: url(../img/profile-sidebar-bg.png);
    background-repeat: no-repeat;
    padding: 4rem 0 8.4rem;
    background-size: contain;
}
.profile-menu .list-group-item{
    background: none;
    padding: .6rem 0;
    border-color: #f1f1f1;
}
.profile-menu .list-group-item a {
    color: #53433f;
    transition: 0.5s;
    font-family: '29LTBukra-Light';
    font-size: 16px;
}
.profile-menu .list-group-item a:hover, .profile-menu .list-group-item.active a {
    color: #fdbf00;
    transition: 0.5s;
}
.profile-details-section{
    background-image: url(../img/profile-content-bg.png);
    background-repeat: no-repeat;
    padding: 13rem 5rem 8.4rem 2rem;
    position: relative;
    background-size: contain;
}
.profile-details-section::before{
    content: '';
    position: absolute;
    width: 104px;
    top: -1px;
    left: -88px;
    background-image: url(../img/profile-content-bg-left-corner.png);
    background-repeat: no-repeat;
    background-size: contain; 
    height: 115px;
}
.profile-title{
    color: #53433f;
    font-family: '29LTBukra-Bold';
    font-size: 40px;
}
.profile-email{
    color: #53433f;
    font-family: '29LTBukra-Regular';
    font-size: 14px;  
    margin-bottom: 5px;
}
.profile-phone{
    color: #53433f;
    font-family: '29LTBukra-Regular';
    font-size: 14px;
    margin-bottom: 5px;
}
.profile-country{
    color: #fdbf00;
    font-family: '29LTBukra-Bold';
    font-size: 14px;
    margin-bottom: 5px;
}
.profile-img img{
    width: 205px;
    height: 205px;
    border-radius: 35px 115px 35px 35px;
    object-fit: cover;
}
.profile-id-num{
    color: #fdbf00;
    font-family: '29LTBukra-Regular';
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
}
.account-info .profile-details-title{
    color: #fdbf00;
    font-family: '29LTBukra-Bold';
    font-size: 20px;
    margin-bottom: 25px;
}
.account-info label{
    color: #53433f;
    font-family: '29LTBukra-Regular';
    font-size: 10px;
}
.profile-get-in-touch{
    background-image: url(../img/profile-get-in-touch.png);
    background-repeat: no-repeat;
    background-size: contain;
/*    margin-top: 100px;*/
}
.profile-get-in-touch .git-title {
    color: #53433f;
}
.profile-get-in-touch .wrap-contact2 {
    width: 790px;
    /* background: #fff; */
    border-radius: 10px;
    overflow: hidden;
    padding: 23px 55px 19px 55px;
    margin-right: 60px;
}
.profile-get-in-touch .wrap-contact2 .contact2-form-btn{
    color: #53433f;
    text-transform: uppercase;
}

/* Profile */

/* Points */


.my-profile-section{
    background-image: url(../img/my-profile-section-bg.png);
    background-repeat: no-repeat;
    padding: 18rem 5rem 26.4rem 2rem;
    position: relative;
    background-size: contain;
}
.my-profile-section::before{
    content: '';
    position: absolute;
    width: 105px;
    top: -1px;
    left: -83px;
    background-image: url(../img/profile-content-bg-left-corner.png);
    background-repeat: no-repeat;
    background-size: contain; 
    height: 82px;
}
.total-avl-points{
    color: #53433f;
    font-family: '29LTBukra-Regular';
    font-size: 50px;
    line-height: 1;
}
.my-profile-section .list-group-item {
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: .75rem 0;
    margin-bottom: -1px;
    background-color: #fff;
    border: 2px solid #f1f1f1;
    color: #53433f;
    font-family: '29LTBukra-Regular';
    font-size: 16px;
}
.my-profile-section .list-group-flush .list-group-item {
    border-right: 0;
    border-left: 0;
    border-radius: 0;
}
.my-profile-section .list-group-flush:first-child .list-group-item:first-child {
    border-top: 2px solid #f1f1f1;
}
.avl-bal-points{
    color: #53433f;
    font-family: '29LTBukra-Bold';
    font-size: 16px;
}

/* Points */

/* Levels */
.levels-profile-section{
    padding: 8rem 5rem 6.7rem 2rem;
}
.profile-status{
    color: #fdbf00;
    font-family: '29LTBukra-Bold';
    font-size: 26px;
}
.levels-points-text{
    color: #53433f;
    font-family: '29LTBukra-Bold';
    font-size: 14px;
}
.level-types-title{
    color: #a8a8a8;
    font-family: '29LTBukra-Bold';
    font-size: 20px;
}
.level-types-text{
    color: #a8a8a8;
    font-family: '29LTBukra-Regular';
    font-size: 12px;
}

/* Levels */

/* About Us */
.content-section-pages{
    background: #f1f1f1;
}
#about-intro {
    width: 100%;
    height: 100vh;
    position: relative;
    background: #f1f1f1 url(../img/about-intro-bg.png) center top no-repeat;
    background-size: 100%;
}
.content-page-title{
    color: #53433f;
    font-family: '29LTBukra-Light';
    font-size: 50px;
}
.content-page-title span{
    font-family: '29LTBukra-Bold';
}
/* About Us */

/* Terms and Conditions */
#tnc-intro {
    width: 100%;
    height: 100vh;
    position: relative;
    background: #f1f1f1 url(../img/tnc-intro-bg.png) center top no-repeat;
    background-size: 100%;
}
.tnc-intro-title{
    color: #fff;
    font-family: '29LTBukra-BoldItalic';
    font-size: 50px;
}
.tnc-intro-title-light{
    font-family: '29LTBukra-Light';
}
.tnc-points ol {
  list-style: none;
  counter-reset: my-awesome-counter;
    padding-left: 0;
}
.tnc-points ol li {
  counter-increment: my-awesome-counter;
    font-family: '29LTBukra-Regular';
}
.tnc-points ol li::before {
  content: counter(my-awesome-counter) " . ";
  color: #fdbf00;
  font-family: '29LTBukra-Bold';
}
/* Terms and Conditions */
/* FAQ */
.faq-intro-title{
    color: #53433f;
  font-family: '29LTBukra-Bold';
    font-size: 50px;
}
.faq-ques{
    
}
.faq-ques-title{
    color: #fdbf00;
    font-family: '29LTBukra-Bold';
    font-size: 30px;
}
/* FAQ */

/* Contact us */
.contact-us-section{
    
}
.contact-us-section .header-user, .contact-us-section .header-wishlist {
    color: #53433f;
    margin: 0 8px;
}
.contact-us-section .search_icon {
    color: #53433f;
}
.contact-us-section #header .header-cart {
    color: #53433f;
    margin: 0 8px;
}
.contact-us-section #menuToggle span
{
  background: #53433f;
}
#contact-intro{
    width: 100%;
    height: 100vh;
    position: relative;
    background: #f1f1f1 url(../img/contact-intro-bg.png) center top no-repeat;
    background-size: 100%;
}
.contact-us-section form .form-control{
    border: 1px solid #fdbf00;
}
.contact-us-section form .form-group label{
    color: #53433f;
    font-family: '29LTBukra-Bold';
    font-size: 18px;
}
.contact-us-section form .form-group label span{
    color: #dd0101;
    font-family: '29LTBukra-Light';
    font-size: 18px;
}
.contact-info-section h6{
    color: #fdbf00;
    font-family: '29LTBukra-Bold';
    font-size: 18px;
}
.contact-info-section p span{
    color: #53433f;
    font-family: '29LTBukra-Bold';
    font-size: 14px;
}
.app-download p{
    color: #53433f;
    font-family: '29LTBukra-Light';
    font-size: 20px;
    letter-spacing: 5px;
}
/* Contact us */











@media (max-width: 1024px) {
  .home-campaigns .grid article {
    width: 31.3%;
  }
}

@media (max-width: 767px) {
  .home-campaigns .grid article {
    width: 48%;
  }
}

@media (max-width: 479px) {
  .home-campaigns .grid article {
    margin: 2% 0;
    width: 100%;
  }
}

/* Campaign filter ends */



















/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

#footer {
  padding: 0 0 280px 0;
  font-size: 14px;
  background-image: url(../img/footer-bg.png);
    background-position: bottom;
    background-repeat: no-repeat;
}

#footer .footer-top {
  padding: 60px 0 30px 0;
/*  background: #f5f8fd;*/
}

#footer .footer-top .footer-info {
  margin-bottom: 30px;
}

#footer .footer-top .footer-info h3 {
  font-size: 34px;
  margin: 0 0 20px 0;
  padding: 2px 0 2px 0;
  line-height: 1;
  font-family: "Montserrat", sans-serif;
  color: #413e66;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#footer .footer-top .footer-info p {
  font-size: 13px;
  line-height: 24px;
  margin-bottom: 0;
  font-family: "Montserrat", sans-serif;
  color: #535074;
}

#footer .footer-top .social-links a {
  font-size: 30px;
  display: inline-block;
/*  background: #1bb1dc;*/
  color: #c8c3c2;
  line-height: 1;
  padding: 8px 0;
  margin-bottom: 7px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#footer .footer-top .social-links a:hover {
/*  background: #0a98c0;*/
  color: #fdbf00;
}
#footer .footer-top .social-media {
    position: absolute;
    right: -15%;
    top: 34%;
}
#footer .footer-top .social-media .title{
    position: relative;
    transform: rotate(-90deg);
    color: #c8c3c2;
    font-size: 14px;
    font-family: '29LTBukra-BoldItalic';
    text-transform: uppercase;
}
#footer .footer-top .social-media .title::after{
    content: '';
    width: 35px;
    height: 2px;
    position: absolute;
    background-color: #c8c3c2;
    top: 42%;
    right: 125px;
}

#footer .footer-top h4 {
  font-size: 14px;
  font-weight: bold;
  color: #413e66;
  text-transform: uppercase;
  position: relative;
  padding-bottom: 10px;
}

#footer .footer-top .footer-links {
  margin-bottom: 30px;
}

#footer .footer-top .footer-links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#footer .footer-top .footer-links ul li {
  padding: 8px 0;
    text-align: center;
}

#footer .footer-top .footer-links ul li:first-child {
  padding-top: 0;
}

#footer .footer-top .footer-links ul a {
  color: #696592;
}

#footer .footer-top .footer-links ul a:hover {
  color: #1bb1dc;
}

#footer .footer-top .footer-contact {
  margin-bottom: 30px;
}

#footer .footer-top .footer-contact p {
  line-height: 26px;
}

#footer .copyright {
  text-align: center;
  padding-top: 30px;
  color: #535074;
  font-size: 12px;
}

#footer .credits {
  text-align: center;
  font-size: 14px;
  padding-top: 4px;
  color: #8582a8;
}

#footer .credits a {
  color: #1bb1dc;
}

#footer .credits a:hover {
  color: #0a98c0;
}

/*--------------------------------------------------------------
# Responsive Media Queries
--------------------------------------------------------------*/

@media (min-width: 992px) {
  #intro .intro-info {
    padding-top: 25%;
    padding-left: 7%;
  }

}

@media (max-width: 991px) {
  #topbar {
    display: none;
  }

  #header {
    height: 70px;
    padding: 15px 0;
  }

  #header .logo h1 {
    font-size: 28px;
    padding: 8px 0;
  }

  #why-us .why-us-content {
    padding-top: 30px;
  }

}

@media (max-width: 768px) {
  .back-to-top {
    bottom: 15px;
  }

}

@media (max-width: 767px) {
  #intro {
    height: auto;
    padding: 80px 0 60px 0;
  }

  #intro .container {
    height: auto !important;
  }

  #intro .intro-img {
    width: 80%;
  }

  #intro .intro-info {
    text-align: center;
    padding-top: 40px;
  }

  #intro .intro-info h2 {
    font-size: 34px;
    margin-bottom: 30px;
  }

  .section-header p {
    width: 100%;
  }

}

@media (max-width: 574px) {
  #footer .footer-top .social-links a {
    margin-bottom: 25px;
  }
}