@font-face {
  font-family: '29LTBukra-Light';
  src: url('29LTBukra-Light.svg#29LTBukra-Light') format('svg'),
       url('29LTBukra-Light.ttf') format('truetype'),
       url('29LTBukra-Light.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: '29lt-bukra-light';
  src: url('29lt-bukra-light.eot');
  src: url('29lt-bukra-light.eot?#iefix') format('embedded-opentype'),
       url('29lt-bukra-light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: '29LTBukra-Regular';
  src: url('29LTBukra-Regular.svg#29LTBukra-Regular') format('svg'),
       url('29LTBukra-Regular.ttf') format('truetype'),
       url('29LTBukra-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: '29lt-bukra-regular';
  src: url('29lt-bukra-regular.eot');
  src: url('29lt-bukra-regular.eot?#iefix') format('embedded-opentype'),
       url('29lt-bukra-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: '29LTBukra-Bold';
  src: url('29LTBukra-Bold.svg#29LTBukra-Bold') format('svg'),
       url('29LTBukra-Bold.ttf') format('truetype'),
       url('29LTBukra-Bold.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: '29lt-bukra-bold';
  src: url('29lt-bukra-bold.eot');
  src: url('29lt-bukra-bold.eot?#iefix') format('embedded-opentype'),
       url('29lt-bukra-bold.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: '29LTBukra-BoldItalic';
  src: url('29LTBukra-BoldItalic.svg#29LTBukra-BoldItalic') format('svg'),
       url('29LTBukra-BoldItalic.ttf') format('truetype'),
       url('29LTBukra-BoldItalic.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: '29lt-bukra-bold-italic';
  src: url('29lt-bukra-bold-italic.eot');
  src: url('29lt-bukra-bold-italic.eot?#iefix') format('embedded-opentype'),
       url('29lt-bukra-bold-italic.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
